<ion-view view-title="Juegos de lista">
  <ion-content>
    <ion-list>
	
	{{gamesfromlist.lista.nombre}}
	{{gamesfromlist.lista.autor_original}}
	
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="game in gamesfromlist.juegos" type="item-text-wrap" href="#/tab/chats/{{gamesfromlist.lista.id}}/game/{{game.id}}">
        <img ng-src="{{'data:image/png;base64,'+game.image_bytes}}" >
		<h2>{{game.titulo}}</h2>
        <p>{{game.descripcion}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
