<ion-view view-title="Juegos">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="game in games" type="item-text-wrap" href="#/tab/game/{{game.id}}">
        <img ng-src="{{'data:image/png;base64,'+game.image_bytes}}" >
		<h2 style="color: rgb(106, 160, 208);">{{game.titulo}}</h2>
        <p>{{game.descripcion}}</p>
		<div ng-repeat="plataforma in game.lista_plataformas">
			<div style = "float:left;">
				<div ng-if="plataforma.letra_blanca == true">
					<b style="color: white;border-radius: 4px; float: left; background-color: {{ plataforma.color }}">{{ plataforma.nombre }}</b>
					&nbsp;
				</div>
				<div ng-if="plataforma.letra_blanca != true">
				<b style="border-radius: 4px; float: left; background-color: {{ plataforma.color }}">{{ plataforma.nombre }}</b>
					&nbsp;
				</div>
			</div>
    
		</div>
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>
    </ion-list>
	<ion-infinite-scroll
    on-infinite="loadMore()"
    distance="1%">
  </ion-infinite-scroll>
  </ion-content>
</ion-view>
