<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="{{game.titulo}}">
<b>aaaa</b>
  <ion-content class="padding">
      <img ng-src="{{'data:image/png;base64,'+game.image_bytes}}" style="width: 200px; height: 200px">
    <p>
      {{game.descripcion}}
    </p>
	
	Plataformas disponibles:
	<div ng-repeat="plataforma in game.lista_plataformas">
		<div ng-if="plataforma.letra_blanca == true">
			<b style="color: white;border-radius: 4px; background-color: {{ plataforma.color }}">{{ plataforma.nombre }}</b>
		</div>
		<div ng-if="video != video.large">
		<b style="border-radius: 4px; background-color: {{ plataforma.color }}">{{ plataforma.nombre }}</b>
		</div>
     <p>
	</div>
      
  </ion-content>
</ion-view>
