<ion-view view-title="About">
  <ion-content>
    <div class="list card">

  <div> 
    <h2 style="color: rgb(106, 160, 208);">Jorge Lillo Cobacho</h2>
    <p>Máster en Ingeniería Web (2014/2015). Universidad Politécnica de Madrid</p>
  </div>

  <a href="http://127.0.0.1:8000/" class="item item-icon-left">
    <i class="icon ion-ios-star"></i>
    Top Games web
  </a>

  <a href="http://127.0.0.1:8000/api/doc" class="item item-icon-left">
    <i class="icon ion-information-circled"></i>
    Documentación API
  </a>

  <a href="http://github.com/jorgelillo7" class="item item-icon-left">
    <i class="icon ion-social-github"></i>
    Github
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-email"></i>
    Email: jorge.lillo9@gmail.com
  </a>


</div>
  </ion-content>
</ion-view>
